/*============================

RESET

=============================*/

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:#08090f;

color:#ffffff;

font-family:"Inter",sans-serif;

overflow-x:hidden;

}

/*============================

LOADER

=============================*/

.loader{

position:fixed;

inset:0;

display:flex;

justify-content:center;

align-items:center;

background:#08090f;

z-index:9999;

transition:1s;

}

.loader-content{

text-align:center;

}

.loader h1{

font-family:"Cormorant Garamond",serif;

font-size:5rem;

font-weight:500;

letter-spacing:8px;

}

.loader p{

margin-top:15px;

color:#bdb7aa;

letter-spacing:3px;

}

/*============================

HERO

=============================*/

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

}

.hero-content{

max-width:850px;

}

.subtitle{

letter-spacing:6px;

color:#bdb7aa;

margin-bottom:20px;

text-transform:uppercase;

font-size:.85rem;

}

.hero h1{

font-family:"Cormorant Garamond",serif;

font-size:7rem;

font-weight:500;

margin-bottom:25px;

}

.description{

font-size:1.15rem;

line-height:1.9;

color:#d7d7d7;

margin-bottom:45px;

}

.buttons{

display:flex;

justify-content:center;

gap:20px;

}

.buttons a{

padding:15px 35px;

border:1px solid rgba(255,255,255,.2);

text-decoration:none;

color:white;

border-radius:40px;

transition:.4s;

}

.buttons a:hover{

background:white;

color:black;

}
